/*
Error: Undefined variable: "$medium-blue".
        on line 13 of aandc/_nav.scss
        from line 11 of style.scss

8: @import 'aandc/base';
9: @import 'aandc/header';
10: @import 'aandc/layout';
11: @import 'aandc/nav';
12: @import 'aandc/components';
13: @import 'aandc/search';
14: @import 'aandc/footer';

Backtrace:
aandc/_nav.scss:13
style.scss:11
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/script/tree/node.rb:50:in `perform'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:88:in `block in with_import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:88:in `with_import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `block in with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/stack.rb:79:in `with_base'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/mhk33/.rvm/gems/ruby-2.1.5/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$medium-blue\".\A         on line 13 of aandc/_nav.scss\A         from line 11 of style.scss\A \A 8: @import 'aandc/base';\A 9: @import 'aandc/header';\A 10: @import 'aandc/layout';\A 11: @import 'aandc/nav';\A 12: @import 'aandc/components';\A 13: @import 'aandc/search';\A 14: @import 'aandc/footer';"; }
