
// Drupal overrides
//--------------------//

body.admin-menu { padding-top: 0 !important; }

#admin-menu li { font-size: 9px; }

.block-simplesamlphp-auth {
	margin: 2em 0 3em 0;
}

// Contact form - global changes
// -----------------------------

.webform-client-form {
	margin-top: 2em;
}
.webform-component {
	margin-bottom: 1em;
}
.webform-submit {
  margin-top: 1em;
}

// Email field needs Bootstrap
.form-email {
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}

// Home page nav list
// -----------------------------
.fa-ul {
  margin-left: 0;
}

// Banner image
// -----------------------------
.banner-image {
  margin-bottom: 3em;
}


// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
  .fa-ul {
    margin-left: 2.14286em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}