.footer-primary {
	@include make-md-column(8);
}
.footer-secondary {
	@include make-md-column(4);
}
footer {
	padding: 2em 0;
	.nav {
		margin-bottom: 1.5em;
	}
	p, li {
		font-size: 13px;
	}
}
.social-links {
	margin-top: 1.5em;
	a {
		border: 0;
		margin-left: 5px;
	}
	a:first-child {
		margin-left: 0;
	}
	a:hover, a:active, a:focus {
		border: 0;
	}
	i {
		font-size: 3em;
		color: $medium-gray;
	}
}

// MEDIA QUERIES
// -------------------------

  // /* Extra small devices (phones, up to 480px) */
  // /* No media query since this is the default in Bootstrap */

  // /* Small devices (tablets, 768px and up) */
  // @media (min-width: @screen-sm) { ... }

  // /* Medium devices (desktops, 992px and up) */
  // @media (min-width: @screen-md) { ... }

  // /* Large devices (large desktops, 1200px and up) */
  // @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) { 
  	.fa-ul {
    	margin-left: 2.14286em;
  	}
  	footer {
		.nav > li {
			float: left;
			padding: 0 10px;
			border-left: 1px solid $light-gray;
		}
		.nav > li:first-child {
			padding-left: 0;
			border: none;
		}
		.nav > li > a {
			padding: 0;
		}
		.nav > li > a:hover,
		.nav > li > a:active,
		.nav > li > a:focus {
			background: inherit;
			text-decoration: none;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.footer-secondary {
		text-align: right;
	}
	.social-links {
		margin-top: 0;
	}
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: $screen-lg) {
}