.navbar {
	border-radius: 0;
	margin-bottom: 0;
	min-height: 0;
	border: 0;
}

// Mobile search and menu buttons
// --------------------------------- //
.navbar-toggle {
	margin: 0;
	font-size: 120%;
	background: $dark-purple;
	border-radius: 0;
	padding: 10px 15px;
}
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
	background: $dark-purple;
}
.search-toggle {
	background: $purple;
}
.search-toggle:hover, .search-toggle:active, .search-toggle:focus {
	background: $purple;
}

// Global nav
// ------------------- //
.global-menu {
	@include make-xs-column(8);
	padding-right: 0;
}
#menu {
	.nav {
		li {
			font-size: 14px;
			text-transform: uppercase;
			float: left;
		}
		a {
			color: white;
			padding: 10px 15px;
		}
		a:hover, a:active, a:focus {
			background: inherit;
			text-decoration: underline;
		}
		.active {
			a, a:hover, a:active, a:focus {
				font-weight: 700;
			}
		}
	}
}

// Main nav
// ------------------- //
nav {
	background: $purple;
	.nav {
		li {
			float: left;
			a {
				color: white;
				font-size: 18px;
				padding: 15px 20px;
			}
			a:hover,
			a:active,
			a:focus {
				background: $dark-purple;
			}
		}
		.active {
			a, a:hover, a:active, a:focus {
				background: $dark-purple;
			}
		}
	}
}

// Mobile nav
// ------------------- //
#mobile-nav {
	background: white;
	a {
		color: $dark-gray;
		font-size: 14px;
		border-bottom: 1px solid $pale-gray;
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
}

// Sidebar nav
// ------------------- //
.sidebar {
	.block-title {
		margin: 0;
		padding: 0 0 .5em 0;
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 2px solid $pale-gray;
		a {
			color: $medium-gray;
			border: none;
		}
	}
	.nav > li {
		padding: 8px 0;
		font-size: 18px;
	}
	.nav > li > a {
		padding: 0;
		border-bottom: 0;
		display: inline-block; // need this so the link text displays inline with menu icon
	}
	.nav > li > a:hover,
	.nav > li > a:active,
	.nav > li > a:focus {
		background: inherit;
	}
	.nav {
		margin-top: 1em;
		i {
			margin-right: .15em;
			color: $purple;
			font-size: 20px;
		}
		.active {
			a, a:hover, a:active, a:focus {
				color: $dark-gray;
				font-weight: 700;
			}
		}
	}
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	#menu {
		.nav {
			float: right;
		}
	}
	nav {
		.navbar-nav > li > a {
			font-size: 14px;
		}
		.nav {
			li {
				a {
					font-size: 14px;
					padding: 10px;
				}
			}
		}
	}
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
	nav {
		.navbar-nav > li > a {
			font-size: 16px;
		}
		.nav {
			li {
				a {
					font-size: 16px;
					padding: 15px 20px;
				}
			}
		}
	}

}
// Large devices (desktops, 1200px and up)
@media (min-width: $screen-lg) {
	nav {
		.nav {
			li {
				a {
					font-size: 18px;
				}
			}
		}
	}
}