// Colors
// -----------------//

$cornell-red: #b31b1b;
$cornell-medium-blue: #0068ac;
$cornell-black: #222;

// Grays
$pale-gray: #e4e3e3;
$dark-gray: #222;
$medium-gray: #666;
$light-gray: #999;
$lighter-gray: #cbcbcb;

// Blues - replaced by purple
// $light-blue: #60b9ce;
// $medium-blue: #04819e;

// Purples
$purple: #9187a8;
$dark-purple: #473968;

// Links
// -----------------//

$link-primary: $cornell-medium-blue;
$link-primary-hover: black;

// Google fonts
// -----------------//

$font-family-cul: 'Montserrat';        @import
url(//fonts.googleapis.com/css?family=Montserrat);

$font-family-sans-serif:  'Source Sans Pro', Helvetica, Arials, sans-serif;        @import
url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);